[View in Colaboratory](https://colab.research.google.com/github/aksh98/FintechProject/blob/master/DataExtraction_GoogleTrends.ipynb)

In [4]:
!pip install pytrends
!pip install openpyxl

Requirement already satisfied: pytrends in /usr/local/lib/python3.6/dist-packages (4.4.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pytrends) (0.22.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pytrends) (2.18.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pytrends) (4.2.5)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pytrends) (1.14.5)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->pytrends) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pytrends) (2018.5)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pytrends) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pytrends) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pytrends) (2018.8.24)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas->pytrends) (1.11.0)

In [0]:
# Read this for more: https://github.com/GeneralMills/pytrends

from pytrends.request import TrendReq
pytrend = TrendReq()

**kw_list** - list of keywords to be searched 

**build_payload**: Create payload and capture tokens

Parameters: 
- cat = category
- gprop = property 
- geo = Geographical location 
- timeframe, format options : 
  -  'today 5-y' (today to 5 years ago) 
  - '2016-12-14 2017-01-25' (date 1 to date 2)


## This cell is the basic commands  -- Just to get an idea of how this works

In [48]:
###################################################################

# list of keywords
kw_list = ["Unemployment","Jobs"]

pytrend.build_payload(kw_list, cat=0, timeframe='all', geo='US', gprop='')

data = pytrend.interest_by_region(resolution='CITY') #metro level data or -'DMA', 'CITY', 'REGION'
print(data.head())
print('\n Shape: ',data.shape,'\n')

###################################################################

             Unemployment  Jobs
geoName
Albany                  0     0
Albuquerque             0     0
Alexandria              0     0
Atlanta                 9    91
Augusta                 0     0

 Shape:  (78, 2)

## This is the actual code !!

In [49]:
###################################################################

from datetime import datetime, timedelta
import pandas as pd
kw_list = ["Unemployment","Jobs"] #can increase/decrease the list size 
num_keywords = 2 #change this if you increase/decrease the list size

#initialize date
year = 2004
month = 1
date = 1
new_date = datetime(year, month, date).date()

# output excel sheet
writer = pd.ExcelWriter('output.xlsx')
col = 1

while(1):
  
  old_date = new_date  
  if(int(month/12) > 0):
    year = year+1
  month = (month+1)%13
  if(month==0):
    month += 1
  new_date = datetime(year,month,date).date()
  
  # Year and Month till you need the output - Change this to 2018 if you need it till present date
  
  if(year >= 2004 and month == 8 ):
    break
  
  timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')
  print("DATE:",timeframe)

  pytrend.build_payload(kw_list, cat=0, timeframe = timeframe, geo='US', gprop='')

  # Interest by region
  data = pytrend.interest_by_region(resolution='DMA') # metro level data ( you can change 'DMA' to 'CITY', 'REGION' ) 
  print(data.head())
  print("\n\n")

  ## WRITE THE DATA IN AN EXCEL SHEET
  
  # Here I changed the column name from Unemployment to the month date - to distinguish between columns of different month.
  data = data.rename(columns={'Unemployment': old_date.strftime('%Y-%m-%d')+' Unemp','Jobs': old_date.strftime('%Y-%m-%d')+' Jobs'})

  # uncomment the next line if only one keyword is there.
  # data = data.rename(columns={'Unemployment': old_date.strftime('%Y-%m-%d')})
  
  print("List of columns:",list(data.columns.values))
  print("Data size:", data.shape)
  if(col==1):
      data.to_excel(writer,'sheet1',index=True ,startcol = col-1)
  data.to_excel(writer,'sheet1',index=False ,startcol = col)
  col = col + num_keywords
writer.save()

DATE: 2004-01-01 2004-02-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                  0   100
Albany GA                             47    53
Albany-Schenectady-Troy NY             9    91
Albuquerque-Santa Fe NM                3    97
Alexandria LA                          0   100



List of columns: ['2004-01-01 Unemp', '2004-01-01 Jobs']
(210, 2)
DATE: 2004-02-01 2004-03-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                  0   100
Albany GA                              0   100
Albany-Schenectady-Troy NY            10    90
Albuquerque-Santa Fe NM                3    97
Alexandria LA                          0   100



List of columns: ['2004-02-01 Unemp', '2004-02-01 Jobs']
(210, 2)
DATE: 2004-03-01 2004-04-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                  0   100
Albany GA                              0   100
Albany-Schenectady-Troy NY            16    84
Albuquerque-Santa Fe NM                5    95
Alexandria LA                          0   100



List of columns: ['2004-03-01 Unemp', '2004-03-01 Jobs']
(210, 2)
DATE: 2004-04-01 2004-05-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                  0   100
Albany GA                             10    90
Albany-Schenectady-Troy NY            13    87
Albuquerque-Santa Fe NM                4    96
Alexandria LA                          0   100



List of columns: ['2004-04-01 Unemp', '2004-04-01 Jobs']
(210, 2)
DATE: 2004-05-01 2004-06-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                  0   100
Albany GA                             13    87
Albany-Schenectady-Troy NY            13    87
Albuquerque-Santa Fe NM                4    96
Alexandria LA                          0   100



List of columns: ['2004-05-01 Unemp', '2004-05-01 Jobs']
(210, 2)
DATE: 2004-06-01 2004-07-01
                            Unemployment  Jobs
geoName
Abilene-Sweetwater TX                 19    81
Albany GA                              0   100
Albany-Schenectady-Troy NY             7    93
Albuquerque-Santa Fe NM                1    99
Alexandria LA                          0   100



List of columns: ['2004-06-01 Unemp', '2004-06-01 Jobs']
(210, 2)

**The above printed data has been printed for just 5 months.. and just the head() of each file.**

In [44]:
# List out the files
!ls

adc.json  node_modules	output.xlsx  package-lock.json	sample_data

In [0]:
# download the output file

from google.colab import files
files.download('output.xlsx')