<a href="https://colab.research.google.com/github/aksh98/FintechProject/blob/master/Web_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

#     string init[] = { "WELLS FARGO BANK, N.A", "CITYBANK, N.A", "JP Morgan Chase Bank, N.A", "Bank of America Corporation",
#                      "U.S. Bank National Association","The PNC Financial Services Group, Inc.","CAPITAL ONE FINANCIAL CORPORATION",
#                      "TD Ameritrade IP Company, Inc.","American Express Travel Related Services Company, Inc.",
#                      "The Bank of New York Mellon","Branch Banking and Trust Company","Banco Bilbao Vizcaya Argentaria, S.A.",
#                      "BMO Financial Corp.","Citizens Financial Group, Inc.","Capital One Financial Corporation","Comerica Bank",
#                      "Deutsche Bank","Discover Financial Services","Fifth Third Bank","Goldman, Sachs & Co.","HSBC North America Holdings Inc.",
#                      "HSBC Bank USA, N.A.","Huntington Bancshares Incorporated","Keycorp","M&T Bank Corporation",
#                      "MANUFACTURERS AND TRADERS TRUST COMPANY","Morgan Stanley","THE BANK OF TOKYO--MITSUBISHI UFJ. LTD.",
#                      "Banko Santander Central Hispano, S.A.","Zions Bancorporation","Regions Asset Company","State Street Corporation",
#                      "BNP Paribas S.A.","Silicon Valley Bank","RBC Capital Markets Corporation","East West Bank","Barclays Bank PLC",
#                      "Barclays Capital Inc."}

In [0]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
%cd content/drive/My Drive/Colab Notebooks/Stanford

/content/drive/My Drive/Colab Notebooks/Stanford

## Query Creation

In [0]:
import pandas as pd
init = {"JP Morgan Chase Bank","Bank of America Corporation","Citigroup","WELLS FARGO BANK, N.A.",
        "Goldman Sachs & Co. LLC","Morgan Stanley & Co. LLC","U.S. Bancorp","Truist Financial",
        "The PNC Financial Services Group, Inc.","TD Bank, NA","CAPITAL ONE SERVICES, LLC",
        "The Bank of New York Mellon","TIAA","Charles Schwab & Co., Inc.","HSBC Bank USA","State Street Corporation",
        "AMERICAN EXPRESS TRAVEL RELATED SERVICES COMPANY, INC.","Ally Financial","MUFG Union Bank, N.A.","Fifth Third Bank",
        "State Farm Mutual Automobile Insurance Company","USAA","Citizens Financial Group","BMO Harris Bank",
        "Barclays","KeyCorp","UBS","Santander Bank","Deutsche Bank","Regions Financial Corporation"}
quer = []
q2 = []
for i in init:
  for year in range(2000,2020):
    q2.append(i)
    x = '(AN/"'+ str(i) + '\") AND (APD/1/1/' + str(year) + "->12/31/"+str(year) +")"
    quer.append(x)

query = pd.DataFrame(q2,columns=['BankNames'])
query['QueryAPD'] = quer
query

                  BankNames                                           QueryAPD
0    WELLS FARGO BANK, N.A.  (AN/"WELLS FARGO BANK, N.A.") AND (APD/1/1/200...
1    WELLS FARGO BANK, N.A.  (AN/"WELLS FARGO BANK, N.A.") AND (APD/1/1/200...
2    WELLS FARGO BANK, N.A.  (AN/"WELLS FARGO BANK, N.A.") AND (APD/1/1/200...
3    WELLS FARGO BANK, N.A.  (AN/"WELLS FARGO BANK, N.A.") AND (APD/1/1/200...
4    WELLS FARGO BANK, N.A.  (AN/"WELLS FARGO BANK, N.A.") AND (APD/1/1/200...
..                      ...                                                ...
595          Ally Financial  (AN/"Ally Financial") AND (APD/1/1/2015->12/31...
596          Ally Financial  (AN/"Ally Financial") AND (APD/1/1/2016->12/31...
597          Ally Financial  (AN/"Ally Financial") AND (APD/1/1/2017->12/31...
598          Ally Financial  (AN/"Ally Financial") AND (APD/1/1/2018->12/31...
599          Ally Financial  (AN/"Ally Financial") AND (APD/1/1/2019->12/31...

[600 rows x 2 columns]

In [0]:
queryISD = []
for i in init:
  for year in range(2000,2020):
    x = '(AN/"'+ str(i) + '\") AND (ISD/1/1/' + str(year) + "->12/31/"+str(year) +")"
    queryISD.append(x)

query['QueryISD'] = queryISD
query

                  BankNames  ...                                           QueryISD
0    WELLS FARGO BANK, N.A.  ...  (AN/"WELLS FARGO BANK, N.A.") AND (ISD/1/1/200...
1    WELLS FARGO BANK, N.A.  ...  (AN/"WELLS FARGO BANK, N.A.") AND (ISD/1/1/200...
2    WELLS FARGO BANK, N.A.  ...  (AN/"WELLS FARGO BANK, N.A.") AND (ISD/1/1/200...
3    WELLS FARGO BANK, N.A.  ...  (AN/"WELLS FARGO BANK, N.A.") AND (ISD/1/1/200...
4    WELLS FARGO BANK, N.A.  ...  (AN/"WELLS FARGO BANK, N.A.") AND (ISD/1/1/200...
..                      ...  ...                                                ...
595          Ally Financial  ...  (AN/"Ally Financial") AND (ISD/1/1/2015->12/31...
596          Ally Financial  ...  (AN/"Ally Financial") AND (ISD/1/1/2016->12/31...
597          Ally Financial  ...  (AN/"Ally Financial") AND (ISD/1/1/2017->12/31...
598          Ally Financial  ...  (AN/"Ally Financial") AND (ISD/1/1/2018->12/31...
599          Ally Financial  ...  (AN/"Ally Financial") AND (ISD/1/1/2019->12/31...

[600 rows x 3 columns]

## Convert Query to URL

In [0]:
common_url = "http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.htm&r=0&p=1&f=S&l=50&Query=%28AN%2F%22"
url_list = []

for i in init:
  for year in range(2000,2020): 
    temp = i.split(sep = ' ')
    url = common_url

    for words in temp[:-1]:
      if(words[-1] == ','):
        url += words[:-1]+'%2C+'
      else:
        url += words+'+'
    url += temp[-1]

    url += '%22%29+AND+%28ISD%2F1%2F1%2F' + str(year) + '-%3E12%2F31%2F' + str(year) + '%29&d=PTXT'
    
    # print(url) 
    url_list.append(url)
print(len(url_list))
query['URL_ISD'] = url_list

600

In [0]:
common_url = "http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2FPTO%2Fsearch-adv.htm&r=0&p=1&f=S&l=50&Query=%28AN%2F%22"
url_list = []

for i in init:
  for year in range(2000,2020): #2020
    temp = i.split(sep = ' ')
    url = common_url

    for words in temp[:-1]:
      if(words[-1] == ','):
        url += words[:-1]+'%2C+'
      else:
        url += words+'+'
    url += temp[-1]

    url += '%22%29+AND+%28APD%2F1%2F1%2F' + str(year) + '-%3E12%2F31%2F' + str(year) + '%29&d=PTXT'
    # print(url) 
    url_list.append(url)
print(len(url_list))
query['URL_APD'] = url_list

600

In [0]:
query.head(5)

                BankNames  ...                                            URL_APD
0  WELLS FARGO BANK, N.A.  ...  http://patft.uspto.gov/netacgi/nph-Parser?Sect...
1  WELLS FARGO BANK, N.A.  ...  http://patft.uspto.gov/netacgi/nph-Parser?Sect...
2  WELLS FARGO BANK, N.A.  ...  http://patft.uspto.gov/netacgi/nph-Parser?Sect...
3  WELLS FARGO BANK, N.A.  ...  http://patft.uspto.gov/netacgi/nph-Parser?Sect...
4  WELLS FARGO BANK, N.A.  ...  http://patft.uspto.gov/netacgi/nph-Parser?Sect...

[5 rows x 5 columns]

## Data Extraction using the URLs

In [0]:
import requests
from lxml import html
from bs4 import BeautifulSoup as bs
import pprint

out = []
for url in query['URL']:
  session_requests = requests.session()
  page = session_requests.get(url)
  tree = html.fromstring(page.text)
  try:
    queryinp = list(set(tree.xpath("//input[@name='TD']/@value")))[0]
  except:
    queryinp = 0
  
  print(queryinp)
  out.append(queryinp)
print(out)

0
5
0
0
0
0
0
0
4
3
9
14
19
16
20
11
17
37
74
150
0
0
0
0
0
3
0
6
11
8
20
8
6
7
0
0
2
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
13
15
12
15
13
3
3
6
2
6
0
0
0
0
2
0
0
0
0
0
3
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
160
624
0
0
0
0
0
0
0
0
0
0
2
0
7
3
2
0
0
0
3
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
11
11
29
10
5
0
3
0
8
0
0
0
0
0
2
0
5
8
12
15
10
7
2
0
0
3
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
22
48
52
88
196
278
0
0
17
4
5
2
5
7
2
18
27
75
169
260
236
229
286
289
317
412
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
2
6
11
0
2
10
9
33
44
67
75
98
110
128
100
66
29
41
70
56
61
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
8
67
72
97
125
104
57
45
77
125
202
0
0
0
0
0
0
0
2
0
0
6
3
0
2
6
2
5
3
5
6
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
[0, '5', 0, 0, 0, 0, 0, 0, '4', '3', '9', '14', '19', '16', '20', '11', '17', '37', '74', '150', 0, 0, 0, 0, 0, '3', 0, '6', '11', '8', '20', '8', '6', '7', 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', '13', '15', '12', '15', '13', '3', '3', '6', '2', '6', 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', '160', '624', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, '7', '3', '2', 0, 0, 0, '3', '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '9', '11', '11', '29', '10', '5', 0, '3', 0, '8', 0, 0, 0, 0, 0, '2', 0, '5', '8', '12', '15', '10', '7', '2', 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', '22', '48', '52', '88', '196', '278', 0, 0, '17', '4', '5', '2', '5', '7', '2', '18', '27', '75', '169', '260', '236', '229', '286', '289', '317', '412', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '2', '6', '11', 0, '2', '10', '9', '33', '44', '67', '75', '98', '110', '128', '100', '66', '29', '41', '70', '56', '61', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, '8', '67', '72', '97', '125', '104', '57', '45', '77', '125', '202', 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '6', '3', 0, '2', '6', '2', '5', '3', '5', '6', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
# Hardcoded to avoid running the extraction repeatedly.
# Comment it out if you're working with a different set of data.

out = [0, '5', 0, 0, 0, 0, 0, 0, '4', '3', '9', '14', '19', '16', '20', '11', '17', '37', '74', '150', 0, 0, 0, 0, 0, '3', 0, '6', '11', 
       '8', '20', '8', '6', '7', 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, '7', '13', '15', '12', '15', '13', '3', '3', '6', '2', '6', 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', '160', '624', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, '7', '3', '2', 0, 0, 0, '3', '3',
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '9', '11', '11', '29', '10', '5', 0, '3',
       0, '8', 0, 0, 0, 0, 0, '2', 0, '5', '8', '12', '15', '10', '7', '2', 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', '22', '48', '52', '88', '196', '278', 0, 0, '17', '4', '5', '2',
       '5', '7', '2', '18', '27', '75', '169', '260', '236', '229', '286', '289', '317', '412', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, '2', 0, 
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '2', '6', '11', 0, '2', '10', '9', '33', '44', '67', '75', '98', 
       '110', '128', '100', '66', '29', '41', '70', '56', '61', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, '8', '67', '72', '97', '125', '104', '57', '45', '77', 
       '125', '202', 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '6', '3', 0, '2', '6', '2', '5', '3', '5', '6', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
query['PatentCount_ISD'] = out

In [0]:
# Extraction for the APD column
out2 = []

for url in query['URL_APD']:
  session_requests = requests.session()
  page = session_requests.get(url)
  tree = html.fromstring(page.text)
  try:
    queryinp = list(set(tree.xpath("//input[@name='TD']/@value")))[0]
  except:
    queryinp = 0
  
  print(queryinp)
  out2.append(queryinp)
print(out2)
query['PatentCount_APD'] = out2

7
0
4
3
4
5
8
15
20
5
6
7
26
21
52
47
90
45
31
0
0
2
6
14
14
13
4
3
3
2
5
2
2
2
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
5
10
22
11
13
4
8
4
5
5
0
2
0
2
0
0
0
0
0
0
2
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
3
5
5
17
24
48
142
403
176
0
0
0
0
0
0
0
4
0
0
2
0
5
0
0
0
0
2
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
0
0
7
16
12
25
10
6
6
0
0
0
0
0
0
6
10
7
4
5
7
9
3
3
5
2
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
14
44
70
178
134
164
92
7
2
19
10
20
23
18
30
67
136
129
173
161
212
166
213
269
442
212
51
10
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
0
0
12
25
34
40
90
64
68
103
54
48
65
97
86
37
51
44
48
28
9
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
4
3
39
57
115
126
48
29
56
54
57
73
67
97
93
55
11
2
0
0
2
4
0
4
0
0
2
0
0
8
3
3
5
2
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
['7', 0, '4', '3', '4', '5', '8', '15', '20', '5', '6', '7', '26', '21', '52', '47', '90', '45', '31', 0, 0, '2', '6', '14', '14', '13', '4', '3', '3', '2', '5', '2', '2', '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', '5', '10', '22', '11', '13', '4', '8', '4', '5', '5', 0, '2', 0, '2', 0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '3', '5', '5', '17', '24', '48', '142', '403', '176', 0, 0, 0, 0, 0, 0, 0, '4', 0, 0, '2', 0, '5', 0, 0, 0, 0, '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, 0, 0, '7', '16', '12', '25', '10', '6', '6', 0, 0, 0, 0, 0, 0, '6', '10', '7', '4', '5', '7', '9', '3', '3', '5', '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', '14', '44', '70', '178', '134', '164', '92', '7', '2', '19', '10', '20', '23', '18', '30', '67', '136', '129', '173', '161', '212', '166', '213', '269', '442', '212', '51', '10', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, '12', '25', '34', '40', '90', '64', '68', '103', '54', '48', '65', '97', '86', '37', '51', '44', '48', '28', '9', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', '4', '3', '39', '57', '115', '126', '48', '29', '56', '54', '57', '73', '67', '97', '93', '55', '11', '2', 0, 0, '2', '4', 0, '4', 0, 0, '2', 0, 0, '8', '3', '3', '5', '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
#Hardcoded again to avoid repeating 
query['PatentCount_APD'] = ['7', 0, '4', '3', '4', '5', '8', '15', '20', '5', '6', '7', '26', '21', '52', '47', '90', '45', '31', 0, 0,
                            '2', '6', '14', '14', '13', '4', '3', '3', '2', '5', '2', '2', '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', '5', '10', '22', '11', '13', '4', '8', '4', '5', '5', 0,
                            '2', 0, '2', 0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
                            '2', 0, 0, 0, 0, 0, '3', '5', '5', '17', '24', '48', '142', '403', '176', 0, 0, 0, 0, 0, 0, 0, '4', 0, 0, '2',
                            0, '5', 0, 0, 0, 0, '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '4', 0,
                            0, 0, '7', '16', '12', '25', '10', '6', '6', 0, 0, 0, 0, 0, 0, '6', '10', '7', '4', '5', '7', '9', '3', '3',
                            '5', '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, '2', '14', '44', '70', '178', '134', '164', '92', '7', '2', '19', '10', '20', '23', '18',
                            '30', '67', '136', '129', '173', '161', '212', '166', '213', '269', '442', '212', '51', '10', 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
                            0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2',
                            0, 0, 0, 0, 0, 0, 0, 0, '12', '25', '34', '40', '90', '64', '68', '103', '54', '48', '65', '97', '86', '37',
                            '51', '44', '48', '28', '9', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', '4', '3', '39', '57', '115', '126', '48', '29', '56', 
                            '54', '57', '73', '67', '97', '93', '55', '11', '2', 0, 0, '2', '4', 0, '4', 0, 0, '2', 0, 0, '8', '3', '3',
                            '5', '2', '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
# Final query dataframe
query.head()

                BankNames  ... PatentCount_APD
0  WELLS FARGO BANK, N.A.  ...               7
1  WELLS FARGO BANK, N.A.  ...               0
2  WELLS FARGO BANK, N.A.  ...               4
3  WELLS FARGO BANK, N.A.  ...               3
4  WELLS FARGO BANK, N.A.  ...               4

[5 rows x 7 columns]

### Save Dataframe to file

In [0]:
query.to_excel('patent_data.xlsx')

In [0]:
query.to_csv('patent_data.csv')